<h1>Lista de Clientes</h1>



<table class="table table-striped table-borderlles">

	<thead class="thead-dark">
		<th>#</th><th>Nome</th><th>Telefone</th><th>Date</th>
	</thead>

	<tbody>
	{loop="$user"}
		<tr>
			<td>{$value.idclient}</td><td>{$value.desnome}</td><td>{$value.destel}</td><td>{$value.cdate}</td>

			<td><button class="btn_vender alert-success" data-pagina_clicada="{$value.idclient}">Venda</button></td>
			<td><button class="btn_atualizar btn-primary">Update</button></td>
			<td><button class="btn_deletar alert-danger">Delete</button></td>
		</tr>
		
	{/loop}
	</tbody>

</table>
</div>



<script type="text/javascript">
 
 $(document).ready(function(){

 	$(".btn_vender").click(function(){

 		var id = $(this).data("pagina_clicada");
 		$.ajax({
 			url: "http://localhost/anne_doces/admin/compraView",
 			type: "POST",
 			dataType: "html",
 			data: {id},
 			beforeSend:function(){
 				$("#cont").html("Carregando...")
 			},
 			success:function(retorno){
 				$("#cont").html(retorno)
 			}
 		})

 	})

 });

</script>

